html {
  scroll-behavior: smooth;
}

.bandcamp-player {
  max-width: unset;
}

#nonartarea {
  border-color: black !important;
}

*, :root {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 10pt;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}
* h1, * input, :root h1, :root input {
  font-weight: 400;
  font-size: 1.4rem;
}
* p, :root p {
  overflow-wrap: break-word;
  font-size: 1rem;
  text-align: justify;
  font-weight: 400;
}
* small, :root small {
  font-size: 0.8rem;
  color: red;
}
* h2, :root h2 {
  font-size: 1.2rem;
  font-weight: 400;
}
* hr, :root hr {
  border-top: 1px dashed red;
  border-bottom: none;
}
* *::-moz-selection, :root *::-moz-selection {
  background: red;
  color: white;
}
* *::selection, :root *::selection {
  background: red;
  color: white;
}
* .carousel-image::-moz-selection, :root .carousel-image::-moz-selection {
  background: transparent;
}
* .carousel-image::selection, :root .carousel-image::selection {
  background: transparent;
}

button {
  margin: 0;
  width: 100%;
  border: none;
  box-sizing: border-box !important;
  background: none;
}
button * {
  text-align: left;
}

.carousel img, .sidecarousel img, .bigCarousel img {
  filter: saturate(120%) contrast(110%) brightness(110%);
}

body {
  margin: 10px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  width: 100%;
}
a ::before {
  content: "";
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  opacity: 0;
  transition: 0.1s;
}
a :hover::before {
  opacity: 1;
}
a :hover {
  text-decoration: none !important;
  color: white;
  transition: 0.1s;
}

.titleBar {
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.titleBar h1 {
  font-size: 1.4rem !important;
}

nav {
  position: relative;
  display: grid;
  margin: auto;
}

.navContent > div:first-child {
  position: relative;
  height: 60px;
}
.navContent > div:first-child img {
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.navContent > div:not(:first-child) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-right: 1px solid black;
}
.navContent > div:not(:first-child) > div, .navContent > div:not(:first-child) > a {
  flex: 40%;
  padding: 10px 0;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.navContent > div:not(:first-child) > div h1, .navContent > div:not(:first-child) > a h1 {
  padding: 0 5px;
}

.linkContainer > a {
  transition: ease-in-out 0.1s;
}

.linkContainer > a:hover {
  background: red;
  color: white;
}
.linkContainer > a:hover * {
  color: white !important;
}

.linkContainer > a:hover span::before, .linkContainer > a:hover span::after {
  color: white;
}
.linkContainer > a:hover span::before *, .linkContainer > a:hover span::after * {
  color: white !important;
}

.activelink {
  background-color: red;
}
.activelink * {
  color: white !important;
}

.wiggle span {
  display: inline-block;
  animation: wiggle 1s infinite;
  animation-delay: calc(var(--animation-order) * 307ms);
  transform-origin: center;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: scale(1) translateY(0px) rotate(0deg);
  }
  20% {
    transform: scale(1) translateY(-2px) rotate(-3deg);
  }
  40% {
    transform: scale(1.1) translateY(-2px) rotate(3deg);
  }
  60% {
    transform: scale(1) translateY(2px) rotate(-3deg);
  }
  80% {
    transform: scale(0.95) translateY(-2px) rotate(3deg);
  }
  100% {
    transform: scale(1) translateY(0px) rotate(0deg);
  }
}
@keyframes flickerAnimation {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
@keyframes flickerAnimation2 {
  0% {
    color: white;
    background: red;
  }
  50% {
    color: red;
    background: hsla(9deg, 100%, 50%, 0.18);
  }
  100% {
    color: white;
    background: red;
  }
}
.animate-flicker h1 {
  color: red;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
}
.animate-flicker span:first-of-type::before {
  left: -5px;
  width: 5.183px;
}
.animate-flicker span:last-of-type::after {
  right: -5px;
  top: 0;
}
.animate-flicker .animate-flicker:hover span:first-of-type::before,
.animate-flicker .animate-flicker:hover span:last-of-type::after {
  color: white;
}

.nowiggle span {
  animation: none !important;
}

.nowiggle span::before, .nowiggle span::after {
  display: none;
}

.artwork-grid .gazette-items {
  border: 1px solid black;
  border-top: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(130px, 25.1%), 1fr)); /*this */
  gap: 10px;
}
.artwork-grid .gazette-items .gazette-item {
  position: relative;
  overflow: hidden;
}
.artwork-grid .gazette-items .gazette-item figure {
  overflow: hidden;
}
.artwork-grid .gazette-items .gazette-item *::before {
  background: none;
}
.artwork-grid .gazette-items .gazette-item .overlay {
  position: absolute;
  z-index: 10;
  bottom: -100%;
  opacity: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  transition: all ease-in-out 0.3s;
}
.artwork-grid .gazette-items .gazette-item .overlay .overlaytext {
  display: flex;
  width: calc(100% - 10px);
  box-sizing: border-box;
  flex-direction: column;
  background: white;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
.artwork-grid .gazette-items .gazette-item img {
  width: 100%;
  transition: all ease-in-out 0.3s;
}
.artwork-grid .gazette-items .gazette-item:hover h2, .artwork-grid .gazette-items .gazette-item:focus h2 {
  color: black;
}
.artwork-grid .gazette-items .gazette-item:hover small:hover, .artwork-grid .gazette-items .gazette-item:focus small:hover {
  color: red;
}
.artwork-grid .gazette-items .gazette-item:hover .overlay, .artwork-grid .gazette-items .gazette-item:focus .overlay {
  bottom: 5px;
  opacity: 1;
}
.artwork-grid .gazette-items .gazette-item:hover img, .artwork-grid .gazette-items .gazette-item:focus img {
  scale: 1.01;
}

.scrollContainer {
  overflow: hidden;
  height: 279px;
  position: relative;
}

.scrollContainer:hover {
  filter: blur(0px);
  background: transparent;
  mix-blend-mode: revert;
}
.scrollContainer:hover .overlay, .scrollContainer:hover .two {
  opacity: 0;
  background-color: unset;
  mix-blend-mode: normal;
}

.carousel, .sidecarousel {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: none;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-base-color: transparent;
  scrollbar-3dlight-color: transparent;
  block-size: calc(100% + 25px);
}
.carousel ::-webkit-scrollbar, .sidecarousel ::-webkit-scrollbar {
  display: none;
}
.carousel .carousel-image, .carousel .video-container, .sidecarousel .carousel-image, .sidecarousel .video-container {
  flex-grow: 1;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  block-size: calc(100% - 25px);
}
.carousel .video-container > div, .sidecarousel .video-container > div {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.carousel .video-container > div > iframe, .sidecarousel .video-container > div > iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 0;
}

.sidecarousel {
  border-top: 1px solid black;
}

.nextButton, .prevButton {
  position: absolute;
  top: calc(50% - 18px);
  width: 25px;
  vertical-align: center;
  background-color: white;
  border-radius: 0;
  border: 1px solid black;
  z-index: 1000;
}
.nextButton :hover, .prevButton :hover {
  color: red;
  cursor: pointer;
}

.prevButton {
  left: 0;
  border-left: 1px solid white;
}
.prevButton span {
  margin-left: -2px;
  margin-top: 4px;
}

.nextButton {
  right: 0;
  border-right: 1px solid white;
}
.nextButton span {
  margin-left: 0;
  margin-top: 4px;
}

.eventContainer {
  border: 1px solid black;
  border-bottom: none;
  padding: 10px;
  text-align: justify;
}

.residenceContent {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.residenceContainer {
  padding: 10px;
  border: 1px solid black;
  border-bottom: none;
}
.residenceContainer h2 {
  margin-bottom: 10px;
}
.residenceContainer h1 {
  margin-top: 10px;
}
.residenceContainer .residence-links, .residenceContainer .video-container {
  margin-top: 5px;
}
.residenceContainer .residence-videos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
}
.residenceContainer .residence-videos .video-container {
  border: 1px solid black;
  flex-grow: 1;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  block-size: calc(100% - 7px);
}
.residenceContainer .residence-videos .video-container > div {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.residenceContainer .residence-videos .video-container > div > iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 0;
}

.residenceTitle {
  border-top: 0;
  border-bottom: 0;
}

#noupcomingTitle {
  border-bottom: 1px solid black;
}

.requestResidencyContainer {
  border-bottom: 1px solid black;
}

.about-us {
  border: 1px solid black;
  border-bottom: none;
  border-top: none;
  padding: 10px;
}

#statement p {
  text-align: initial !important;
}

#roskotinfo a:hover {
  display: inline-block;
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  width: 100%;
}
#roskotinfo a:hover ::before {
  content: "";
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red !important;
  opacity: 0;
  transition: 0.1s;
}
#roskotinfo a:hover :hover::before {
  opacity: 1;
}
#roskotinfo a:hover :hover {
  text-decoration: none !important;
  color: white;
  background: red !important;
  transition: 0.1s;
}

.card {
  overflow: hidden;
  box-sizing: content-box;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.card h1 {
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.right {
  padding: 10px;
}
.right > div {
  justify-content: flex-start !important;
  -webkit-justify-content: flex-start !important;
  align-self: flex-start !important;
  -webkit-align-self: flex-start !important;
}
.right h1 {
  overflow-y: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.right:hover .titles, .activelink .titles, .right:focus .titles {
  margin-bottom: 5px;
  transition: 0.2s;
}

.section.desktopBorder {
  border-top: 1px solid black;
}

.right:not(:first-of-type) {
  border-top: 1px solid black;
}

.right:hover {
  background: red;
  transition: 0.1s;
}
.right:hover * {
  color: white;
}

.card-button {
  height: 100%;
  justify-content: space-between;
}
.card-button > div {
  height: 100%;
}

.left {
  position: relative;
  padding: 10px;
  border-top: none;
  border-bottom: none;
}

.additional {
  padding-top: 0;
  border-top: none;
  grid-row-start: 4;
}

[hidden] {
  display: none;
}

.mapouter {
  display: block;
  position: relative;
  border: 1px solid black;
  border-top: none;
  text-align: right;
  width: 100%;
  height: 279px;
  box-sizing: border-box;
}

.place-card {
  display: none !important;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

.gmap_canvas > iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.gmap_canvas > .iframe-info {
  background-color: white;
  position: absolute;
  margin: 10px;
  left: 0;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 180px;
  height: 70px;
  border: 1px solid black;
  text-align: left;
}

.newsletterInput {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 1.4rem;
}
.newsletterInput > div:first-of-type {
  padding-bottom: 10px;
}
.newsletterInput .inputContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  height: 30%;
}
.newsletterInput label {
  flex-basis: 0%;
  height: 100%;
}
.newsletterInput input {
  width: 100%;
  border: none;
  font-size: 1rem;
  box-shadow: 0px 1px 0px 0px #000;
  transition: width 0.1s ease-in-out;
}
.newsletterInput .content-email {
  position: absolute;
  bottom: 5px;
  left: 0px;
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
  color: hsla(0deg, 0%, 0%, 0.5);
}
.newsletterInput input:focus {
  outline: none;
}
.newsletterInput input[data-focus] + label .content-email {
  transform: translateY(-130%);
  font-size: 1rem;
  left: 0px;
  color: hsl(0deg, 0%, 0%);
}
.newsletterInput #arrow {
  opacity: 0;
  right: 100%;
  bottom: 0;
  width: 0;
  height: 30px;
  transition: all 0.1s ease-in-out;
}
.newsletterInput #arrow > button {
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}
.newsletterInput #arrow > button div {
  position: absolute;
  right: 0;
  width: 10px;
  height: 1px;
  box-shadow: inset 0px 0px 0px 10px #000;
}
.newsletterInput #arrow > button > div:first-child {
  transform: rotate(45deg) translateY(-50%);
  top: calc(50% - 4.6px);
  right: 0.7px;
}
.newsletterInput #arrow > button > div:nth-child(2) {
  width: 30px;
  right: 2.5px;
  top: calc(50% - 1.6px);
}
.newsletterInput #arrow > button > div:nth-child(3) {
  transform: rotate(-45deg) translateY(-50%);
  bottom: calc(50% - 3.5px);
}
.newsletterInput #arrow[data-open] {
  display: block;
  animation: arrowFadeIn 0.3s forwards;
}
.newsletterInput #arrow[data-open] > button div {
  animation: arrowSlideIn 0.3s forwards;
}
.newsletterInput #arrow[data-closing] {
  pointer-events: none;
  animation: arrowFadeOut 0.3s forwards;
}
.newsletterInput #arrow[data-closing] > button div {
  animation: arrowSlideOut 0.3s forwards;
}
@keyframes arrowFadeIn {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 35px;
  }
}
@keyframes arrowFadeOut {
  0% {
    opacity: 1;
    width: 35px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@keyframes arrowSlideIn {
  0% {
    right: 200px;
  }
  100% {
    right: 0;
  }
}
@keyframes arrowSlideOut {
  0% {
    right: 0;
  }
  100% {
    right: 200px;
  }
}

.error, .success {
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: 0;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  background: white;
}

.error {
  box-shadow: 0px 0px 0px 1px red;
  color: red;
}

.success {
  box-shadow: 0px 0px 0px 1px black;
  color: black;
}

.gedragscode {
  padding: 10px;
  color: red;
  background: white;
  border-left: 1px solid red;
  border-right: 1px solid red;
  box-sizing: border-box;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px !important;
  border: 1px solid black;
}
.footer .socials {
  display: flex;
  justify-content: space-between;
}
.footer .socials :first-child {
  margin-right: 10px;
}

.archiveContainer {
  border: 1px solid black;
}
.archiveContainer .archiveGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.archiveContainer .archiveGrid > div:first-child {
  grid-area: 1/1/6/2;
  padding: 10px;
}
.archiveContainer .archiveGrid > div:first-child .newsletterInput {
  margin-top: 20px;
  height: unset;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-right: 10px;
}
.archiveContainer .archiveGrid > div:first-child .newsletterInput form {
  height: 30px;
}
.archiveContainer .archiveGrid > div:first-child .newsletterInput form input {
  background: transparent;
}
.archiveContainer .archiveGrid > div:first-child .newsletterInput form label {
  z-index: -100;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; /* Standard */
}
.archiveContainer .archiveGrid > div:first-child > .year {
  width: -moz-min-content;
  width: min-content;
  padding-bottom: 10px;
}
.archiveContainer .archiveGrid > div:first-child > .year .activeyear {
  background-color: red;
  color: white;
}
.archiveContainer .archiveGrid > div:last-child {
  grid-area: 1/2/6/6;
  padding: 10px;
  padding-left: 0;
}
.archiveContainer .archiveGrid > div:last-child .archive-filters {
  justify-content: space-between;
  display: flex;
  padding-top: 15px;
}
.archiveContainer .archiveGrid > div:last-child .archive-filters h1 {
  font-size: 2.5rem;
}
.archiveContainer .archiveGrid > div:last-child section {
  margin-top: 10px;
}
.archiveContainer .archiveGrid > div:last-child .archive-letter {
  border-left: 1px solid black;
  padding-left: 10px;
  margin-bottom: 20px;
  position: relative;
}
.archiveContainer .archiveGrid > div:last-child .archive-letter > div:first-child {
  position: absolute;
  right: 100%;
  transform: translateX(-15px);
  font-size: 1.4rem;
}
.archiveContainer .archiveGrid > div:last-child .archive-letter > div:nth-child(2) * {
  vertical-align: text-top;
}
.archiveContainer .archiveGrid > div:last-child .archive-letter > div:nth-child(2) > p {
  text-align: unset;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}
.archiveContainer .archiveGrid > div:last-child .archive-letter > div:nth-child(2) > p > span {
  font-size: 1.4rem;
  white-space: nowrap;
}
.archiveContainer .archiveGrid > div:last-child .archive-letter a {
  margin-top: 2px;
  vertical-align: text-top;
  display: inline;
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  position: relative;
}
.archiveContainer .archiveGrid > div:last-child .archive-letter a > img {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 18px;
  height: 0;
  transition: 0.8s;
}
.archiveContainer .archiveGrid > div:last-child .archive-letter a:hover {
  background: red;
  color: white !important;
  text-decoration: none !important;
  transition: 0.1s;
}
.archiveContainer .archiveGrid > div:last-child .archive-letter a:hover > img {
  height: auto;
  transition: 0.8s;
}

.nomobile {
  display: none;
}

[x-cloak] {
  display: none !important;
}

.border-top {
  border-top: 1px solid black !important;
}

.mobileBottom {
  border-bottom: 1px solid black;
}

#programme:last-child {
  border-bottom: 1px solid black;
}

.right .eventCategory {
  overflow: visible !important;
}

@media only screen and (min-width: 350px) {
  .mediaContainer .residence-videos {
    height: 200px;
  }
}
@media only screen and (min-width: 400px) {
  .mediaContainer .residence-videos {
    height: 250px;
  }
}
@media only screen and (min-width: 460px) {
  .navContent > div:first-child {
    height: 100px;
  }
  .carousel .carousel-image, .sidecarousel .carousel-image {
    min-width: unset;
  }
}
@media only screen and (min-width: 650px) and (max-width: 850px) {
  .residenceContent {
    display: flex;
    flex-direction: row-reverse;
    border-right: 1px solid black;
  }
  .residenceContent > * {
    flex-basis: 50%;
  }
  .residenceContent .sidecarousel {
    border-top: 1px solid black;
    border-left: none;
    border-right: 0;
  }
  .residenceContent .sidecarousel .carousel-image {
    scroll-snap-align: start;
    min-width: 100%;
  }
  .residenceContent .scrollContainer {
    height: auto;
    max-height: 600px;
  }
  .residenceContainer {
    border-bottom: none;
    padding: 10px;
    text-align: justify;
  }
}
.mediaContainer > div {
  margin-top: 10px;
}

.gallery-item-card {
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.gallery-item-card h1 {
  margin-bottom: 10px;
  display: -webkit-box;
  line-clamp: unset;
  -webkit-line-clamp: unset;
  -webkit-box-orient: vertical;
  overflow-y: auto;
}

.admin-event {
  box-sizing: border-box;
}
.admin-event > div {
  box-sizing: border-box;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.admin-event section {
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.admin-event-imageContainer {
  position: relative;
}

.admin-event-thumb {
  background: white;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.delete-button {
  margin-top: 10px;
  position: relative;
  border: 1px solid black;
  width: 1.9rem;
  height: 1.9rem;
}
.delete-button span {
  font-size: 1.4rem;
  padding-top: 0.2rem;
}

.admin-side-nav > div:last-child {
  border-bottom: 1px solid black;
}

.admin-form {
  width: 100%;
}
.admin-form * {
  box-sizing: border-box;
}
.admin-form input, .admin-form select, .admin-form button {
  border-radius: 0;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
  padding: 10px;
}
.admin-form input[type=date] {
  margin-bottom: 0;
}
.admin-form button {
  height: -moz-min-content;
  height: min-content;
}
.admin-form .datepickerbutton {
  margin-bottom: 0;
  margin-top: auto;
}
.admin-form #date {
  padding-right: 10px;
}
.admin-form input:focus-visible {
  border-color: red;
  outline: none;
}
.admin-form input[type=date]::-webkit-datetime-edit-month-field:focus,
.admin-form input[type=date]::-webkit-datetime-edit-day-field:focus,
.admin-form input[type=date]::-webkit-datetime-edit-year-field:focus {
  color: white;
  background-color: red;
}
.admin-form input[type=text] {
  width: 100%;
}
.admin-form p + input[type=button] {
  background-color: white;
  width: unset;
  padding: 0 5px;
  margin: 0;
  color: red;
  border-color: red;
}
.admin-form textarea {
  border-radius: 0;
  border: 1px solid black;
  resize: none;
  width: 100%;
  overflow: auto;
  padding: 10px;
  margin-top: 5px;
}
.admin-form .dynamic-field {
  width: 100%;
}

.set-date_to {
  border-radius: 0;
  border: 1px solid black;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 0;
  margin-top: auto;
}

.datepicker-container {
  margin-top: 5px;
  margin-bottom: 15px;
}
.datepicker-container .to-icon {
  height: 100%;
  margin: auto;
  padding: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  border: 1px solid black;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
}
.switch .toggle:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid black;
  transition: 0.4s;
}
.switch input:checked + .toggle {
  background-color: red;
}
.switch input:focus + .toggle {
  box-shadow: 0 0 1px red;
}
.switch input:checked + .toggle:before {
  transform: translateX(26px);
}

@media only screen and (min-width: 850px) {
  nav {
    grid-template-columns: 1fr 60vw 1fr !important;
  }
  .border-top {
    border-top: 1px solid black !important;
  }
  .artwork-side-nav, .admin-side-nav {
    grid-column: 3;
    display: grid;
    grid-auto-rows: 140px;
  }
  .artwork-side-nav .card, .admin-side-nav .card {
    border-left: none;
  }
  .artwork-grid {
    display: grid;
    grid-template-columns: 1fr 60vw 1fr;
  }
  .artwork-grid .gazette-items {
    border: 1px solid black;
    grid-area: 1/2/span 1/span 1;
    gap: 10px;
  }
  .artwork-grid .gallery-items {
    grid-area: 1/1/span 1/span 2;
  }
  .artwork-grid .gallery-items .gallery-item:last-of-type .bigCarousel {
    border-bottom: 1px solid black;
  }
  .admin-event {
    grid-area: 1/1/span 1/span 2;
    display: grid;
    grid-template-columns: 1fr calc(60vw - 2px);
  }
  .admin-event > div {
    min-height: calc(100% - 62px);
    grid-area: 1/2/span 1/span 2;
    border-bottom: 1px solid black;
  }
  .admin-event .event-item {
    display: grid;
    grid-template-columns: 1fr calc(60vw - 2px);
    grid-area: 1/2/span 1/span 1;
  }
  .admin-event .event-item section {
    grid-area: 1/2/span 1/span 1;
  }
  .admin-event .event-item:first-of-type section {
    border-top: 1px solid black;
  }
  .gallery-item {
    display: grid;
    grid-template-columns: 1fr 60vw;
  }
  .gallery-item section {
    grid-area: 1/2/span 1/span 1;
  }
  .gallery-item .gallery-item-card {
    border-right: none;
    border-top: none;
    height: -moz-min-content;
    height: min-content;
    min-height: 140px;
  }
  .grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, 140px);
    grid-auto-rows: 141px;
    grid-gap: 0;
    grid-template-columns: 1fr 60vw 1fr !important;
  }
  .grid .right {
    grid-column: 3;
    border-left: none;
    cursor: pointer;
    border-top: none;
    border-bottom: 1px solid black;
  }
  .grid .left {
    grid-column: 1;
    grid-row: 1;
    border-right: none;
    border-bottom: 1px solid black;
  }
  .grid .additional {
    grid-row: 3 !important;
  }
  .grid .section {
    grid-column: 2;
    grid-row: 1;
  }
  .grid .residenceContent {
    border-bottom: 0;
  }
  .grid .resSectionLast {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }
  .right {
    position: relative;
  }
  #programme:last-child {
    border-bottom: none;
  }
  .carousel .carousel-image {
    scroll-snap-align: start;
    min-width: 50%;
  }
  .bigCarousel .scrollContainer {
    overflow: hidden;
    height: 500px;
    position: relative;
  }
  .bigCarousel .carousel-image {
    min-width: 100%;
  }
  .prevButton {
    left: 10px;
    border-left: 1px solid black;
  }
  .prevButton span {
    margin-left: -2px;
    margin-top: 4px;
  }
  .nextButton {
    right: 10px;
    border-right: 1px solid black;
  }
  .nextButton span {
    margin-left: 0;
    margin-top: 4px;
  }
  .eventContainer {
    margin-bottom: 20px !important;
    border-bottom: 1px solid black;
    min-height: calc(100% - 62px);
  }
  #contactinformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px !important;
    border-bottom: 1px solid black;
  }
  #contactinformation > div {
    flex-basis: 50%;
  }
  #contactinformation > div > h2 {
    padding-bottom: 10px;
  }
  #contactinformation > div > p {
    padding-bottom: 5px;
  }
  .nomobile {
    display: block;
  }
  .desktopBorder {
    border-top: 1px solid black !important;
  }
  .additionalBorder {
    border-bottom: 1px solid black;
  }
  .mobileBottom {
    border-bottom: none;
  }
  #noupcomingTitle {
    border-bottom: none;
  }
  .residenceTitle {
    border-top: 1px solid black;
  }
  .requestResidencyContainer {
    border-bottom: none;
  }
  .right h2 {
    animation: opacity1 0.6s;
  }
  .right h1 {
    overflow: hidden;
    transition: ease-in-out 0.2s;
  }
  .right .eventCategory {
    display: none;
  }
  .right:hover {
    transition: ease-in-out 0.1s;
  }
  .right:hover .titles {
    font-size: 2rem;
    transition: 0.2s;
  }
  .right:hover h2 {
    font-size: 1rem;
    transition: 0.2s;
  }
  .activelink .titles {
    font-size: 2rem;
    transition: 0.2s;
  }
  .activelink h2 {
    font-size: 1rem;
    transition: 0.2s;
  }
  .right::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.4));
    opacity: 0;
  }
  .right.activelink::before, .right:hover::before {
    opacity: 1;
    transition: 0.3s;
  }
  .right button:focus {
    transition: ease-in-out 0.1s;
  }
  .right button:focus .titles {
    font-size: 2rem;
    transition: 0.2s;
  }
  .right button:focus h2 {
    font-size: 1rem;
    transition: 0.2s;
  }
  @keyframes opacity0 {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes opacity1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1350px) {
  .mediaContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .mediaContainer > div {
    margin-top: 10px;
    flex-basis: 50%;
  }
  .residence-videos .video-container {
    block-size: calc(100% - 30px) !important;
  }
}
@media only screen and (min-width: 1350px) {
  *, :root {
    font-size: 12pt;
  }
  * h1, :root h1 {
    font-size: 1.4rem;
    font-weight: 400;
  }
  * p, :root p {
    font-size: 1rem;
  }
  * h2, :root h2 {
    font-size: 1.2rem;
  }
  body {
    margin: 20px;
  }
  nav {
    grid-template-columns: 1fr minmax(500px, 850px) 1fr !important;
  }
  nav > div:nth-of-type(3) {
    position: relative;
  }
  nav > div:nth-of-type(3) .profile-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px;
  }
  nav > div:nth-of-type(3) .profile-nav .profile-button {
    display: flex;
    flex-direction: row;
  }
  .navContent > div:not(:first-child) {
    flex-wrap: nowrap;
  }
  .navContent > div:not(:first-child) > div, .navContent > div:not(:first-child) a {
    flex: 30%;
    padding: 20px 0;
  }
  .grid, .artwork-grid {
    grid-template-columns: 1fr minmax(500px, 850px) 1fr !important;
  }
  .gallery-item {
    grid-template-columns: 1fr minmax(500px, 850px);
  }
  .titleBar {
    padding-left: 10px;
  }
  .eventContainer {
    padding: 10px;
  }
  .gmap_canvas > .iframe-info {
    width: 250px;
    height: 80px;
  }
  .animate-flicker span:first-of-type::before {
    left: -10px;
    width: 5.183px;
  }
  .animate-flicker span:last-of-type::after {
    right: -10px;
    top: 0;
  }
  .right, .left {
    padding: 15px 15px 0;
  }
  #newsletterCard {
    padding-bottom: 15px;
  }
  .additional {
    grid-row: 3;
    border-top: none;
  }
  .right .eventCategory {
    display: block;
  }
  .right:hover .eventCategory, .activelink .eventCategory {
    width: -moz-max-content;
    width: max-content;
    font-size: 1rem;
  }
  .right:hover .titles {
    font-size: 2.5rem;
  }
  .activelink .titles {
    font-size: 2.5rem;
  }
  .activelink h2 {
    font-size: 1rem;
  }
  .right button:focus .titles {
    font-size: 2.5rem;
  }
  .residenceContent {
    display: flex;
    flex-direction: row-reverse;
    border-right: 1px solid black;
  }
  .residenceContent > * {
    flex-basis: 50%;
  }
  .residenceContent .sidecarousel {
    border-top: 1px solid black;
    border-left: none;
    border-right: 0;
  }
  .residenceContent .sidecarousel .carousel-image {
    scroll-snap-align: start;
    min-width: 100%;
  }
  .residenceContent .scrollContainer {
    height: auto;
    max-height: 600px;
  }
  .residenceContainer {
    border-bottom: none;
    padding: 10px;
    text-align: justify;
  }
  .admin-event {
    display: grid;
    grid-template-columns: 1fr minmax(498px, 848px);
  }
  .admin-event > div {
    min-height: calc(100% - 62px);
    grid-area: 1/2/span 1/span 2;
  }
  .admin-event .event-item {
    display: grid;
    grid-template-columns: 1fr minmax(498px, 848px);
    grid-area: 1/2/span 1/span 1;
  }
  .admin-event .event-item section {
    grid-area: 1/2/span 1/span 1;
  }
}
@media only screen and (max-width: 320px) {
  .artwork-grid .gazette-items {
    border: 1px solid black;
    border-top: none;
    gap: 5px;
  }
  .artwork-grid .gazette-items .gazette-item img {
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .eventContainer {
    min-height: 0 !important;
  }
}
