* {
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 25px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 850px 1fr;
  margin: auto;
}

.navContent > div:first-child {
  position: relative;
  height: 100px;
}
.navContent > div:first-child p {
  position: absolute;
  bottom: -15px;
  font-size: 114.5px;
}

.navContent > div:not(:first-child) {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex: 0 0 20%;
}
.navContent > div:not(:first-child) > div {
  flex-basis: 20%;
  padding: 20px 0;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 850px 1fr;
}

.carousel {
  display: flex;
  flex-direction: row;
  height: 300px;
  overflow: scroll;
  border: 1px solid black;
}
.carousel img {
  height: 100%;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardContainer {
  border-collapse: collapse;
}

.card {
  padding: 15px;
  box-sizing: content-box;
  border: 1px solid black;
}
