*, :root {
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}
* h1, :root h1 {
  font-size: 1.4rem;
  font-weight: lighter;
}
* p, :root p {
  font-size: 1rem;
}
* h2, :root h2 {
  font-size: 1.1rem;
}

body {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: grid;
  margin: auto;
}

.navContent > div:first-child {
  position: relative;
  height: 60px;
}
.navContent > div:first-child img {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.navContent > div:not(:first-child) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-right: 1px solid black;
}
.navContent > div:not(:first-child) > div {
  flex: 30%;
  flex-grow: 1;
  padding: 10px 0;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navContent > div:not(:first-child) > div h1 {
  padding: 0px 5px;
}

.activelink {
  background-color: red;
}
.activelink h1 {
  color: white;
}

.scrollContainer {
  overflow: hidden;
  height: 300px;
  position: relative;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  border: 1px solid black;
  border-bottom: none;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-base-color: transparent;
  scrollbar-3dlight-color: transparent;
  /* clip away the scrollbar */
  block-size: calc(100% + 25px);
}
.carousel ::-webkit-scrollbar {
  display: none;
}
.carousel img {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height: 100%;
  block-size: calc(100% - 25px);
}

#scrollButton {
  position: absolute;
  top: 0;
  right: 0;
}

.eventContainer {
  border: 1px solid black;
  padding: 10px;
  height: 100%;
  text-align: justify;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 130px);
  border-collapse: collapse;
  grid-gap: 0;
}
.cardContainer > div:last-child {
  border-bottom: 1px solid black;
}

.card {
  padding: 15px;
  box-sizing: content-box;
  border: 1px solid black;
}
.card h1 {
  padding-bottom: 10px;
}

.left {
  border-right: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right {
  border-left: none;
  border-bottom: none;
}

.additional {
  grid-row-start: 4;
}

@media only screen and (min-width: 850px) {
  *, :root {
    font-size: 12pt;
  }
  * h1, :root h1 {
    font-size: 1.4rem;
    font-weight: lighter;
  }
  * p, :root p {
    font-size: 1rem;
  }
  * h2, :root h2 {
    font-size: 1.1rem;
  }
  body {
    margin: 20px;
  }
  nav {
    grid-template-columns: 1fr 850px 1fr;
  }
  .navContent > div:first-child {
    height: 100px;
  }
  .navContent > div:not(:first-child) {
    flex-wrap: nowrap;
  }
  .navContent > div:not(:first-child) > div {
    flex: 30%;
    padding: 20px 0;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 850px 1fr;
  }
  .carousel img {
    scroll-snap-align: start;
  }
  .eventContainer {
    padding: 20px;
  }
}
