$border-width: 1px;

html {
    scroll-behavior: smooth;
}

*, :root {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 10pt;
    text-transform: lowercase;
    margin: 0;
    padding: 0;

    h1, input {
        font-size: 1.4rem;
        font-weight: 400;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        font-weight: 400;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 400;
    }

    hr {
        border-top: 1px dashed red;
        border-bottom: none;
    }

    *::selection {
        background: red;
        color: white;
    }

    img::selection {
        background: transparent;
    }

}

button {
    margin: 0;
    width: 100%;
    border: none;
    box-sizing: border-box !important;
    background: none;


    * {
        text-align: left;
    }
}

img {
    filter: saturate(120%) contrast(110%) brightness(110%);
    -webkit-filter: saturate(120%) contrast(110%) brightness(110%);
}

body {
    margin: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    //text-decoration: underline;
    cursor: pointer;
    position: relative;

    ::before {
        content: "";
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: red;
        opacity: 0;
        transition: 0.1s;
    }

    :hover::before {
        opacity: 1;
    }

    :hover {
        text-decoration: none !important;
        color: white;
        transition: 0.1s;

    }

}


.titleBar {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    //border-bottom: none;
    padding-left: 10px;

    h1 {
        font-size: 1.4rem !important;
    }
}

// navigation
nav {
    position: relative;
    display: grid;
    //grid-template-columns: 1fr 850px 1fr;
    margin: auto;
}

.navContent > div:first-child {
    img {
        position: absolute;
        bottom: 8px;
        width: 100%;
    }

    position: relative;
    height: 60px;
}

.navContent > div:not(:first-child) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    //width: 100%;
    justify-content: space-between;
    //flex: 0 0 20%;
    border-right: 1px solid black;

    > div, > a {
        h1 {
            padding: 0 5px
        }

        flex: 30%;
        //flex-shrink: 1;
        padding: 10px 0;
        border: 1px solid black;
        border-bottom: none;
        border-right: none;
        display: flex;
        justify-content: center !important;
        align-items: center;
    }

}

.linkContainer > a {
    transition: ease-in-out 0.1s;
}

.linkContainer > a:hover {
    background: red;
    color: white;

    * {
        color: white !important;
    }
}

.linkContainer > a:hover span::before, .linkContainer > a:hover span::after {
    color: white;

    * {
        color: white !important;
    }
}

.activelink {
    background-color: red;

    * {
        color: white !important;
    }
}

.wiggle span {
    display: inline-block;
    animation: wiggle 1s infinite;
    animation-delay: calc(var(--animation-order) * 307ms);
    transform-origin: center;
    animation-timing-function: ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: scale(1.0) translateY(0px) rotate(0deg);
    }
    20% {
        transform: scale(1.0) translateY(-2px) rotate(-3deg);
    }
    40% {
        transform: scale(1.1) translateY(-2px) rotate(3deg);
    }
    60% {
        transform: scale(1.0) translateY(2px) rotate(-3deg);
    }
    80% {
        transform: scale(0.95) translateY(-2px) rotate(3deg);
    }
    100% {
        transform: scale(1.0) translateY(0px) rotate(0deg);
    }
}

@keyframes flickerAnimation {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

@keyframes flickerAnimation2 {
    0% {
        color: white;
        background: red;
    }

    50% {
        color: red;
        background: hsla(9, 100%, 50%, 0.18);

    }

    100% {
        color: white;
        background: red;
    }
}

@-o-keyframes flickerAnimation2 {
    0% {
        color: white;
        background: red;
    }

    50% {
        color: red;
        background: hsla(9, 100%, 50%, 0.18);

    }

    100% {
        color: white;
        background: red;
    }
}

@-moz-keyframes flickerAnimation2 {
    0% {
        color: white;
        background: red;
    }

    50% {
        color: red;
        background: hsla(9, 100%, 50%, 0.18);

    }

    100% {
        color: white;
        background: red;

    }
}

@-webkit-keyframes flickerAnimation2 {
    0% {
        color: white;
        background: red;
    }

    50% {
        color: red;
        background: hsla(9, 100%, 50%, 0.18);

    }

    100% {
        color: white;
        background: red;

    }
}

.animate-flicker {
    h1 {
        color: red;
        padding: 0 !important;
        margin: 0 !important;
        position: relative;
        //-webkit-animation: flickerAnimation2 1s infinite;
        //-moz-animation: flickerAnimation2 1s infinite;
        //-o-animation: flickerAnimation2 1s infinite;
        //animation: flickerAnimation2 1s infinite;
    }

    span:first-of-type::before {
        left: -5px;
        width: 5.183px;
    }

    span:last-of-type::after {
        right: -5px;
        top: 0;
    }

    .animate-flicker:hover span:first-of-type::before, .animate-flicker:hover span:last-of-type::after {
        color: white;
    }
}

.nowiggle span {
    animation: none !important;
}

.nowiggle span::before, .nowiggle span::after {
    display: none;
}


// carousel
.scrollContainer {
    overflow: hidden;
    height: 279px;
    position: relative;
}

.scrollContainer:hover {
    filter: blur(0px);
    background: transparent;
    mix-blend-mode: revert;

    .overlay, .two {
        opacity: 0;
        background-color: unset;
        mix-blend-mode: normal;
    }
}

.carousel, .sidecarousel {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    border-left: 1px solid black;

    border-right: 1px solid black;
    border-top: none;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-base-color: transparent;
    scrollbar-3dlight-color: transparent;
    block-size: calc(100% + 25px);


    ::-webkit-scrollbar {
        display: none;
    }

    img, iframe {
        flex-grow: 1;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        //min-height: 100%;
        block-size: calc(100% - 25px);
    }
}

.sidecarousel {
    border-top: 1px solid black;
}

.nextButton, .prevButton {
    position: absolute;
    top: calc(50% - 18px);
    width: 25px;
    vertical-align: center;
    background-color: white;
    border-radius: 0;
    border: 1px solid black;
    z-index: 1000;

    :hover {
        color: red;
        cursor: pointer;
    }
}


.prevButton {
    left: 0;
    border-left: 1px solid white;

    span {
        margin-left: -2px;
        margin-top: 4px;
    }
}

.nextButton {
    right: 0;
    border-right: 1px solid white;

    span {
        margin-left: 0;
        margin-top: 4px;
    }
}

// section blade

.eventContainer {
    border: 1px solid black;
    border-bottom: none;
    padding: 10px;
    text-align: justify;
}

// in residence

.residenceContent {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.residenceContainer {
    padding: 10px;
    border: 1px solid black;
    border-bottom: none;

    h2 {
        margin-bottom: 10px;
    }
}

.residenceTitle {
    border-top: 0;
    border-bottom: 0;
}


.requestResidencyContainer {
    border-bottom: 1px solid black;
}

// about us

.about-us {
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    padding: 10px;
}

.card {
    //background: white;
    overflow: hidden;
    box-sizing: content-box;
    //border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    //border-bottom: 1px solid black;

    h1 {
        margin-bottom: 10px;
        overflow-y: hidden;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.right {
    ////display: -webkit-box !important; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    ////display: -ms-flexbox !important; /* TWEENER - IE 10 */
    ////display: -webkit-flex !important; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    ////display: flex !important; /* NEW, Spec - Firefox, Chrome, Opera */
    //
    //justify-content: space-between !important;
    //-webkit-justify-content: space-between !important;
    //align-content: flex-start !important;
    //-webkit-align-content: flex-start !important;

    > div {
        justify-content: flex-start !important;
        -webkit-justify-content: flex-start !important;
        align-self: flex-start !important;
        -webkit-align-self: flex-start !important;
    }

    padding: 10px
}

.section.desktopBorder {
    border-top: 1px solid black;
}

.right:not(:first-of-type) {
    border-top: 1px solid black;
}

.right:hover {
    background: red;
    transition: 0.1s;

    * {
        color: white;
    }
}

.flex {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
        display: flex;
        height: -webkit-fill-available;
        flex-direction: column;
    }
}

.left {
    position: relative;
    padding: 10px;
    border-top: none;
    border-bottom: none;
}

//
//.left:has(+.right) {
//    border-bottom: 1px solid black;
//}
//
//.left:not(:has(+ div)) {
//    border-bottom: 1px solid black;
//}

.left {
    //border-bottom: 1px solid;
}

.additional {
    padding-top: 0;
    border-top: none;
    grid-row-start: 4;
    //border-bottom: 1px solid black;
}

[hidden] {
    display: none;
}

.mapouter {
    display: block;
    position: relative;
    border: 1px solid black;
    border-top: none;
    text-align: right;
    width: 100%;
    height: 279px;
    box-sizing: border-box;
}

.place-card {
    display: none !important;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}

.gmap_canvas > iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.gmap_canvas > .iframe-info {
    //backdrop-filter: blur(10px) brightness(110%);
    background-color: white;
    position: absolute;
    margin: 10px;
    left: 0;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 180px;
    height: 70px;
    border: 1px solid black;
    text-align: left;
}

.newsletterInput {
    position: relative;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    > div:first-of-type {
        padding-bottom: 10px;
    }

    .inputContainer {
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        height: 30%;
    }

    label {
        flex-basis: 0%;
        height: 100%;
    }

    input {
        width: 100%;
        border: none;
        font-size: 1rem;
        -webkit-box-shadow: 0px 1px 0px 0px #000;
        -moz-box-shadow: 0px 1px 0px 0px #000;
        box-shadow: 0px 1px 0px 0px #000;
        transition: width .1s ease-in-out;

    }

    .content-email {
        position: absolute;
        bottom: 5px;
        left: 0px;
        font-size: 1.2rem;
        transition: all .1s ease-in-out;
        color: hsla(0, 0%, 0%, 0.5);
    }

    input:focus {
        outline: none;
    }

    input[data-focus] + label .content-email {
        transform: translateY(-130%);
        font-size: 1rem;
        left: 0px;
        color: hsla(0, 0%, 0%, 1);
    }

    #arrow {
        opacity: 0;
        right: 100%;
        bottom: 0;
        width: 0;
        height: 30px;
        transition: all .1s ease-in-out;

        > button {

            z-index: +100;
            background: none;
            border: none;
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 100%;

            div {
                position: absolute;
                right: 0;
                width: 10px;
                height: 1px;
                -webkit-box-shadow: inset 0px 0px 0px 10px #000;
                -moz-box-shadow: inset 0px 0px 0px 10px #000;
                box-shadow: inset 0px 0px 0px 10px #000;
            }

            > div:first-child {
                transform: rotate(45deg) translateY(-50%);
                top: calc(50% - 4.6px);
                right: .7px;
            }

            > div:nth-child(2) {
                width: 30px;
                right: 2.5px;
                top: calc(50% - 1.6px);
            }

            > div:nth-child(3) {
                transform: rotate(-45deg) translateY(-50%);
                bottom: calc(50% - 3.5px);
            }
        }

    }

    #arrow[data-open] {
        display: block;
        animation: arrowFadeIn .3s forwards;

        > button div {
            animation: arrowSlideIn .3s forwards;
        }
    }

    #arrow[data-closing] {
        pointer-events: none;
        animation: arrowFadeOut .3s forwards;

        > button div {
            animation: arrowSlideOut .3s forwards;
        }
    }

    @keyframes arrowFadeIn {
        0% {
            opacity: 0;
            width: 0;
        }
        100% {
            opacity: 1;
            width: 35px;
        }
    }
    @keyframes arrowFadeOut {
        0% {
            opacity: 1;
            width: 35px;
        }
        100% {
            opacity: 0;
            width: 0;
        }
    }
    @keyframes arrowSlideIn {
        0% {
            right: 200px;
        }
        100% {
            right: 0;
        }
    }
    @keyframes arrowSlideOut {
        0% {
            right: 0;
        }
        100% {
            right: 200px;
        }
    }

}

.error, .success {
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: 0;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    background: white;
}

.error {
    -webkit-box-shadow: 0px 0px 0px 1px red;
    -moz-box-shadow: 0px 0px 0px 1px red;
    box-shadow: 0px 0px 0px 1px red;
    color: red;
}

.success {
    -webkit-box-shadow: 0px 0px 0px 1px black;
    -moz-box-shadow: 0px 0px 0px 1px black;
    box-shadow: 0px 0px 0px 1px black;
    color: black;
}

.gedragscode {
    padding: 10px;
    //margin: 10px;
    color: red;
    background: white;
    border-left: 1px solid red;
    border-right: 1px solid red;
    box-sizing: border-box;
    //margin-bottom: 20px;
}


.footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px !important;
    border: 1px solid black;

    .socials {
        :first-child {
            margin-right: 10px;
        }

        display: flex;
        justify-content: space-between;
    }
}

.nomobile {
    display: none;
}


[x-cloak] {
    display: none !important;
}

.border-top {
    border-top: 1px solid black !important;
}

.mobileBottom {
    border-bottom: 1px solid black;
}

#programme:last-child {
    border-bottom: 1px solid black;
}

.right .eventCategory {
    overflow: visible !important;
}

@media only screen and (min-width: 460px) {
    .navContent > div:first-child {
        height: 100px;
    }

    .carousel, .sidecarousel {
        img {
            min-width: unset;
        }
    }
}

@media only screen and (min-width: 650px) {
    .residenceContent {
        display: flex;
        flex-direction: row-reverse;
        border-right: 1px solid black;

        > * {
            flex-basis: 50%;
        }

        .sidecarousel {
            border-top: 1px solid black;
            border-left: none;
            border-right: 0;
            //border-bottom: 1px solid black;

            img {
                scroll-snap-align: start;
                min-width: 100%;
            }

        }
    }

    .residenceContainer {
        //border-right: none;
        border-bottom: none;
        padding: 10px;
        text-align: justify;
    }

}

.gallery-item-card {
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid black;


    h1 {
        margin-bottom: 10px;
        display: -webkit-box;
        line-clamp: unset;
        -webkit-line-clamp: unset;
        -webkit-box-orient: vertical;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 850px) {
    nav {
        grid-template-columns: 1fr 60vw 1fr !important;
    }

    .border-top {
        border-top: 1px solid black !important;
    }
    .artwork-side-nav {
        grid-column: 3;
        display: grid;
        grid-auto-rows: 140px;

        .card {
            border-left: none;

        }
    }

    .artwork-grid {
        display: grid;
        grid-template-columns: 1fr 60vw 1fr;


        .gallery-items {
            grid-area: 1 / 1 / span 1 / span 2;

            .gallery-item:last-of-type {
                .bigCarousel {
                    border-bottom: 1px solid black;
                }
            }
        }

    }

    .gallery-item {
        display: grid;
        grid-template-columns: 1fr 60vw;

        section {
            grid-area: 1 / 2 / span 1 / span 1;
        }

        .gallery-item-card {
            border-right: none;
            border-top: none;
            height: min-content;
            min-height: 140px;
        }

    }

    .grid {
        display: grid;
        grid-template-rows: repeat(auto-fill, 140px);
        grid-auto-rows: 140px;
        grid-gap: 0;
        grid-template-columns: 1fr 60vw 1fr !important;

        .right {
            grid-column: 3;
            border-left: none;
            cursor: pointer;
            border-top: none;
            border-bottom: 1px solid black;
        }

        .left {
            grid-column: 1;
            grid-row: 1;
            border-right: none;
            //border-top: none;
            border-bottom: 1px solid black;
        }

        .additional {
            grid-row: 3 !important;
        }

        .section {
            grid-column: 2;
            grid-row: 1;
        }

        .residenceContent {
            border-bottom: 0;
        }

        .resSectionLast {
            border-bottom: 1px solid black;
            margin-bottom: 20px;
        }
    }

    #programme:last-child {
        border-bottom: none;
    }
    .flex {
        display: -webkit-box !important; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox !important; /* TWEENER - IE 10 */
        display: -webkit-flex !important; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex !important; /* NEW, Spec - Firefox, Chrome, Opera */
        flex-direction: column;
    }

    //.titleBar {
    //    border-top: none;
    //    border-bottom: none;
    //}

    .carousel {
        img {
            scroll-snap-align: start;
            min-width: 50%;
        }
    }

    .bigCarousel {

        .scrollContainer {
            overflow: hidden;
            height: 400px;
            position: relative;

        }

        img {
            min-width: 100%;
        }
    }


    .prevButton {
        left: 10px;
        border-left: 1px solid black;

        span {
            margin-left: -2px;
            margin-top: 4px;
        }
    }

    .nextButton {
        right: 10px;
        border-right: 1px solid black;

        span {
            margin-left: 0;
            margin-top: 4px;
        }
    }


    .eventContainer {
        margin-bottom: 20px !important;
        border-bottom: 1px solid black;
        min-height: calc(100% - 62px);

    }
    //.footer {
    //    grid-column: 2;
    //    display: flex;
    //    border: 1px solid black;
    //}

    #roskotcontact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px !important;

        > div {
            flex-basis: 50%;

            > h2 {
                padding-bottom: 10px;
            }

            > p {
                padding-bottom: 5px;
            }

        }
    }

    .nomobile {
        display: block;
    }

    .desktopBorder {
        border-top: 1px solid black !important;
    }

    .mobileBottom {
        border-bottom: none;
    }

    .residenceTitle {
        border-top: 1px solid black;
    }

    .requestResidencyContainer {
        border-bottom: none;
    }

    .right h2 {
        animation: opacity1 0.6s;
    }

    .right h1 {
        overflow: hidden;
        transition: ease-in-out .2s;
    }

    .right .eventCategory {
        display: none;
    }

    .right:hover {
        transition: ease-in-out 0.1s;

        .titles {
            font-size: 3rem;
            transition: .2s;
        }


    }

    @keyframes opacity0 {
        0% {
            opacity: 100%;
        }

        100% {
            opacity: 0;
        }

    }
    @keyframes opacity1 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 100%;
        }

    }
}

//
//.additional {
//    grid-row: 3;
//    border-top: none;
//}

@media only screen and (min-width: 1350px) {
    *, :root {
        font-size: 12pt;

        h1 {
            font-size: 1.4rem;
            font-weight: 400;
        }

        p {
            font-size: 1rem;
        }

        h2 {
            font-size: 1.2rem;
        }
    }

    //h1::before {
    //    width: 6.23px !important;
    //}

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    body {
        margin: 20px;
        //width: 70%;
    }

    nav {
        grid-template-columns: 1fr minmax(500px, 850px) 1fr !important;
    }

    .navContent > div:not(:first-child) {
        flex-wrap: nowrap;

        > div, a {
            flex: 30%;
            padding: 20px 0;
        }
    }

    .grid, .artwork-grid {
        grid-template-columns: 1fr minmax(500px, 850px) 1fr !important;
    }

    .gallery-item {
        grid-template-columns: 1fr minmax(500px, 850px);
    }

    .titleBar {

        padding-left: 10px;
    }

    .eventContainer {
        padding: 10px;
    }

    .gmap_canvas > .iframe-info {
        width: 250px;
        height: 80px;
    }
    .animate-flicker {
        span:first-of-type::before {
            left: -10px;
            width: 5.183px;
        }

        span:last-of-type::after {
            right: -10px;
            top: 0;
        }
    }

    .right, .left {
        padding: 15px;
    }

    .additional {
        grid-row: 3;
        border-top: none;
    }

    .right .eventCategory {
        display: block;
    }

    .right:hover {
        .eventCategory {
            width: max-content;
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 850px) {
    .eventContainer {
        min-height: 0 !important;
    }
}
