$border-width: 1px;

html {
    scroll-behavior: smooth;
}

.bandcamp-player {
    max-width: unset;
}

#nonartarea {
    border-color: black!important;
}

*, :root {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 10pt;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    //letter-spacing: -.05rem;
    h1, input {
        font-weight: 400;
        font-size: 1.4rem;
    }

    p {
        overflow-wrap: break-word;
        font-size: 1rem;
        text-align: justify;
        font-weight: 400;
    }

    small {
        font-size: .8rem;
        color: red;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 400;
    }

    hr {
        border-top: 1px dashed red;
        border-bottom: none;
    }

    *::selection {
        background: red;
        color: white;
    }

    .carousel-image::selection {
        background: transparent;
    }

}
//
//.quote-wrapper {
//    width: 300px;
//    height: 300px;
//    position: relative;
//    margin: 10vh auto 0; /*OPTIONAL MARGIN*/
//}
//
//.text {
//    width: 100%;
//    height: 100%;
//    /*BLUE BG*/
//    background: radial-gradient(
//            ellipse at center,
//            rgba(0, 128, 172, 1) 0%,
//            rgba(0, 128, 172, 1) 70%,
//            rgba(0, 128, 172, 0) 70.3%
//    );
//    /*RED BG
//    background: radial-gradient(
//      ellipse at center,
//      rgba(210, 20, 20, 1) 0%,
//      rgba(210, 20, 20, 1) 70%,
//      rgba(210, 20, 20, 0) 70.3%
//    );*/
//    position: relative;
//    margin: 0;
//    color: white;
//}
//
//.text p {
//    height: 100%;
//    font-size: 21px;
//    line-height: 1.25;
//    padding: 0;
//    text-align: center;
//    font-style: italic;
//    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
//}
//
//.text::before {
//    box-sizing: border-box;
//
//    content: "";
//    width: 50%;
//    height: 100%;
//    float: left;
//    shape-outside: polygon(
//            0 0,
//            98% 0,
//            50% 6%,
//            23.4% 17.3%,
//            6% 32.6%,
//            0 50%,
//            6% 65.6%,
//            23.4% 82.7%,
//            50% 94%,
//            98% 100%,
//            0 100%
//    );
//    shape-margin: 7%;
//}
//
//.text p::before {
//    box-sizing: border-box;
//
//    content: "";
//    width: 50%;
//    height: 100%;
//    float: right;
//    shape-outside: polygon(
//            2% 0%,
//            100% 0%,
//            100% 100%,
//            2% 100%,
//            50% 94%,
//            76.6% 82.7%,
//            94% 65.6%,
//            100% 50%,
//            94% 32.6%,
//            76.6% 17.3%,
//            50% 6%
//    );
//    shape-margin: 7%;
//}
//
//.quote-wrapper blockquote footer {
//    width: 100%;
//    position: absolute;
//    bottom: 25px;
//    font-size: 17px;
//    text-align: center;
//    font-style: italic;
//    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
//}
//
//.quote-wrapper::before {
//    box-sizing: border-box;
//
//    content: "\201C";
//    font-size: 270px;
//    height: 82px;
//    line-height: 0.78;
//    line-height: 1;
//    position: absolute;
//    top: -48px;
//    left: 0;
//    z-index: 1;
//    font-family: sans-serif, serif;
//    color: #ccc;
//    opacity: 0.9;
//}
//
//@media (min-width: 850px) {
//    .quote-wrapper {
//        width: 370px;
//        height: 370px;
//    }
//
//    .quote-wrapper::before {
//        font-size: 300px;
//    }
//
//    .text p {
//        font-size: 26px;
//    }
//
//    .quote-wrapper blockquote footer {
//        bottom: 32px;
//    }
//}
//
///*THIS CSS IS NOT REQUIRED FOR CIRCULAR TEXT*/
///*THIS CSS IS NOT REQUIRED FOR CIRCULAR TEXT*/
//
//.note {
//    margin: 5vw;
//    padding: 0.5em;
//    border-left: 0.5em solid #52e052;
//    background: #e9fbe9;
//}
//
//.note a {
//    text-decoration: none;
//    color: #161b1e;
//}
//
//.note a:hover {
//    text-decoration: underline;
//}

button {
    margin: 0;
    width: 100%;
    border: none;
    box-sizing: border-box !important;
    background: none;


    * {
        text-align: left;
    }
}

.carousel img, .sidecarousel img, .bigCarousel img, {
    -webkit-filter: saturate(120%) contrast(110%) brightness(110%);
    filter: saturate(120%) contrast(110%) brightness(110%);
}

body {
    margin: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: relative;
    width: 100%;

    ::before {
        content: "";
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: red;
        opacity: 0;
        transition: 0.1s;
    }

    :hover::before {
        opacity: 1;
    }

    :hover {
        text-decoration: none !important;
        color: white;
        transition: 0.1s;
    }

}


.titleBar {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    //border-bottom: none;
    padding-left: 10px;

    h1 {
        font-size: 1.4rem !important;
    }
}

// navigation
nav {
    position: relative;
    display: grid;
    //grid-template-columns: 1fr 850px 1fr;
    margin: auto;
}

.navContent > div:first-child {
    img {
        position: absolute;
        bottom: 8px;
        width: 100%;
    }

    position: relative;
    height: 60px;
}

.navContent > div:not(:first-child) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    //width: 100%;
    justify-content: space-between;
    //flex: 0 0 20%;
    border-right: 1px solid black;

    > div, > a {
        h1 {
            padding: 0 5px
        }

        flex: 40%;
        //flex-shrink: 1;
        padding: 10px 0;
        border: 1px solid black;
        border-bottom: none;
        border-right: none;
        display: flex;
        justify-content: center !important;
        align-items: center;
    }

}

.linkContainer > a {
    transition: ease-in-out 0.1s;
}

.linkContainer > a:hover {
    background: red;
    color: white;

    * {
        color: white !important;
    }
}

.linkContainer > a:hover span::before, .linkContainer > a:hover span::after {
    color: white;

    * {
        color: white !important;
    }
}

.activelink {
    background-color: red;

    * {
        color: white !important;
    }
}

.wiggle span {
    display: inline-block;
    animation: wiggle 1s infinite;
    animation-delay: calc(var(--animation-order) * 307ms);
    transform-origin: center;
    animation-timing-function: ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: scale(1.0) translateY(0px) rotate(0deg);
    }
    20% {
        transform: scale(1.0) translateY(-2px) rotate(-3deg);
    }
    40% {
        transform: scale(1.1) translateY(-2px) rotate(3deg);
    }
    60% {
        transform: scale(1.0) translateY(2px) rotate(-3deg);
    }
    80% {
        transform: scale(0.95) translateY(-2px) rotate(3deg);
    }
    100% {
        transform: scale(1.0) translateY(0px) rotate(0deg);
    }
}

@keyframes flickerAnimation {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

@keyframes flickerAnimation2 {
    0% {
        color: white;
        background: red;
    }

    50% {
        color: red;
        background: hsla(9, 100%, 50%, 0.18);

    }

    100% {
        color: white;
        background: red;
    }
}

@-o-keyframes flickerAnimation2 {
    0% {
        color: white;
        background: red;
    }

    50% {
        color: red;
        background: hsla(9, 100%, 50%, 0.18);

    }

    100% {
        color: white;
        background: red;
    }
}

@-moz-keyframes flickerAnimation2 {
    0% {
        color: white;
        background: red;
    }

    50% {
        color: red;
        background: hsla(9, 100%, 50%, 0.18);

    }

    100% {
        color: white;
        background: red;

    }
}

@-webkit-keyframes flickerAnimation2 {
    0% {
        color: white;
        background: red;
    }

    50% {
        color: red;
        background: hsla(9, 100%, 50%, 0.18);

    }

    100% {
        color: white;
        background: red;

    }
}

.animate-flicker {
    h1 {
        color: red;
        padding: 0 !important;
        margin: 0 !important;
        position: relative;
        //-webkit-animation: flickerAnimation2 1s infinite;
        //-moz-animation: flickerAnimation2 1s infinite;
        //-o-animation: flickerAnimation2 1s infinite;
        //animation: flickerAnimation2 1s infinite;
    }

    span:first-of-type::before {
        left: -5px;
        width: 5.183px;
    }

    span:last-of-type::after {
        right: -5px;
        top: 0;
    }

    .animate-flicker:hover span:first-of-type::before,
    .animate-flicker:hover span:last-of-type::after {
        color: white;
    }
}

.nowiggle span {
    animation: none !important;
}

.nowiggle span::before, .nowiggle span::after {
    display: none;
}

//artwork

.artwork-grid {
    .gazette-items {
        border: 1px solid black;
        border-top: none;
        $w: 130px;
        $n: 3;
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(max($w, 100% / ($n + 1) + 0.1%), 1fr)); /*this */
        gap: 10px;

        .gazette-item {
            position: relative;
            overflow: hidden;

            figure {
                //aspect-ratio: 1/1;
                overflow: hidden;
            }

            *::before {
                background: none;
            }

            .overlay {
                position: absolute;
                z-index: 10;
                bottom: -100%;
                opacity: 0;
                left: 0;
                width: 100%;
                box-sizing: border-box;
                transition: all ease-in-out .3s;

                .overlaytext {
                    display: flex;
                    width: calc(100% - 10px);
                    box-sizing: border-box;
                    flex-direction: column;
                    background: white;
                    border: 1px solid black;
                    margin: 5px;
                    padding: 5px;
                }
            }

            img {
                width: 100%;
                transition: all ease-in-out .3s;
            }
        }

        .gazette-item:hover, .gazette-item:focus {
            h2 {
                color: black
            }
        ;

            small:hover {
                color: red;
            }

            .overlay {
                bottom: 5px;
                opacity: 1;
            }

            img {
                scale: 1.01;
            }

        }
    }
}


// carousel
.scrollContainer {
    overflow: hidden;
    height: 279px;
    position: relative;
}



.scrollContainer:hover {
    filter: blur(0px);
    background: transparent;
    mix-blend-mode: revert;

    .overlay, .two {
        opacity: 0;
        background-color: unset;
        mix-blend-mode: normal;
    }
}

.carousel, .sidecarousel {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    border-left: 1px solid black;

    border-right: 1px solid black;
    border-top: none;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-base-color: transparent;
    scrollbar-3dlight-color: transparent;
    block-size: calc(100% + 25px);


    ::-webkit-scrollbar {
        display: none;
    }

    .carousel-image, .video-container {
        flex-grow: 1;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        block-size: calc(100% - 25px);
    }



    .video-container > div {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        > iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

.sidecarousel {
    border-top: 1px solid black;
}

.nextButton, .prevButton {
    position: absolute;
    top: calc(50% - 18px);
    width: 25px;
    vertical-align: center;
    background-color: white;
    border-radius: 0;
    border: 1px solid black;
    z-index: 1000;

    :hover {
        color: red;
        cursor: pointer;
    }
}


.prevButton {
    left: 0;
    border-left: 1px solid white;

    span {
        margin-left: -2px;
        margin-top: 4px;
    }
}

.nextButton {
    right: 0;
    border-right: 1px solid white;

    span {
        margin-left: 0;
        margin-top: 4px;
    }
}


// section blade

.eventContainer {
    border: 1px solid black;
    border-bottom: none;
    padding: 10px;
    text-align: justify;
}

// in residence

.residenceContent {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.residenceContainer {
    padding: 10px;
    border: 1px solid black;
    border-bottom: none;

    h2 {
        margin-bottom: 10px;
    }

    h1 {
        margin-top: 10px;
    }

    .residence-links, .video-container {
        margin-top: 5px;
    }

    .residence-videos {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 150px;
        .video-container {
            border: 1px solid black;
            flex-grow: 1;
            scroll-snap-align: center;
            scroll-snap-stop: always;
            //min-width: 100%;
            height: 100%;
            object-fit: cover;
            block-size: calc(100% - 7px);
        }

        .video-container > div {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;

            > iframe {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

}

.residenceTitle {
    border-top: 0;
    border-bottom: 0;
}

#noupcomingTitle {
    border-bottom: 1px solid black;
}


.requestResidencyContainer {
    border-bottom: 1px solid black;
}

// about us

.about-us {
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    padding: 10px;
}

#statement {
    p {
     text-align: initial!important;
    }
}

#roskotinfo {
    a:hover {
        display: inline-block;
        text-decoration: none;
        color: black;
        cursor: pointer;
        position: relative;
        width: 100%;

        ::before {
            content: "";
            width: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: red !important;
            opacity: 0;
            transition: 0.1s;
        }

        :hover::before {
            opacity: 1;
        }

        :hover {
            text-decoration: none !important;
            color: white;
            background: red !important;
            transition: 0.1s;

        }

    }
}
.card {
    //background: white;
    overflow: hidden;
    box-sizing: content-box;
    //border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    //border-bottom: 1px solid black;

    h1 {
        margin-bottom: 10px;
        overflow-wrap: break-word;
    }
}

.right {
    ////display: -webkit-box !important; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    ////display: -ms-flexbox !important; /* TWEENER - IE 10 */
    ////display: -webkit-flex !important; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    ////display: flex !important; /* NEW, Spec - Firefox, Chrome, Opera */
    //
    //justify-content: space-between !important;
    //-webkit-justify-content: space-between !important;
    //align-content: flex-start !important;
    //-webkit-align-content: flex-start !important;

    > div {
        justify-content: flex-start !important;
        -webkit-justify-content: flex-start !important;
        align-self: flex-start !important;
        -webkit-align-self: flex-start !important;
    }

    h1 {
        overflow-y: hidden;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    padding: 10px;


}

.right:hover, .activelink, .right:focus {
    .titles {
        margin-bottom: 5px;
        transition: .2s;
    }
}

.section.desktopBorder {
    border-top: 1px solid black;
}

.right:not(:first-of-type) {
    border-top: 1px solid black;
}

.right:hover {
    background: red;
    transition: 0.1s;

    * {
        color: white;
    }
}

.card-button {
    height: 100%;
    //display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    //display: -ms-flexbox;  /* TWEENER - IE 10 */
    //display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    //display: flex;
    //flex-direction: row;
    justify-content: space-between;

    > div {
        height: 100%;
        //display: flex;
        //height: -webkit-fill-available;
        //flex-direction: column;
    }
}

.left {
    position: relative;
    padding: 10px;
    border-top: none;
    border-bottom: none;

}

.additional {
    padding-top: 0;
    border-top: none;
    grid-row-start: 4;
    //border-bottom: 1px solid black;
}

[hidden] {
    display: none;
}

.mapouter {
    display: block;
    position: relative;
    border: 1px solid black;
    border-top: none;
    text-align: right;
    width: 100%;
    height: 279px;
    box-sizing: border-box;
}

.place-card {
    display: none !important;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}

.gmap_canvas > iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.gmap_canvas > .iframe-info {
    //backdrop-filter: blur(10px) brightness(110%);
    background-color: white;
    position: absolute;
    margin: 10px;
    left: 0;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 180px;
    height: 70px;
    border: 1px solid black;
    text-align: left;
}

.newsletterInput {
    position: relative;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 1.4rem;


    > div:first-of-type {
        padding-bottom: 10px;
    }

    .inputContainer {
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        height: 30%;
    }

    label {
        flex-basis: 0%;
        height: 100%;
    }

    input {
        width: 100%;
        border: none;
        font-size: 1rem;
        -webkit-box-shadow: 0px 1px 0px 0px #000;
        -moz-box-shadow: 0px 1px 0px 0px #000;
        box-shadow: 0px 1px 0px 0px #000;
        transition: width .1s ease-in-out;

    }

    .content-email {
        position: absolute;
        bottom: 5px;
        left: 0px;
        font-size: 1.2rem;
        transition: all .1s ease-in-out;
        color: hsla(0, 0%, 0%, 0.5);
    }

    input:focus {
        outline: none;
    }

    input[data-focus] + label .content-email {
        transform: translateY(-130%);
        font-size: 1rem;
        left: 0px;
        color: hsla(0, 0%, 0%, 1);
    }

    #arrow {
        opacity: 0;
        right: 100%;
        bottom: 0;
        width: 0;
        height: 30px;
        transition: all .1s ease-in-out;

        > button {

            z-index: +100;
            background: none;
            border: none;
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 100%;

            div {
                position: absolute;
                right: 0;
                width: 10px;
                height: 1px;
                -webkit-box-shadow: inset 0px 0px 0px 10px #000;
                -moz-box-shadow: inset 0px 0px 0px 10px #000;
                box-shadow: inset 0px 0px 0px 10px #000;
            }

            > div:first-child {
                transform: rotate(45deg) translateY(-50%);
                top: calc(50% - 4.6px);
                right: .7px;
            }

            > div:nth-child(2) {
                width: 30px;
                right: 2.5px;
                top: calc(50% - 1.6px);
            }

            > div:nth-child(3) {
                transform: rotate(-45deg) translateY(-50%);
                bottom: calc(50% - 3.5px);
            }
        }

    }

    #arrow[data-open] {
        display: block;
        animation: arrowFadeIn .3s forwards;

        > button div {
            animation: arrowSlideIn .3s forwards;
        }
    }

    #arrow[data-closing] {
        pointer-events: none;
        animation: arrowFadeOut .3s forwards;

        > button div {
            animation: arrowSlideOut .3s forwards;
        }
    }

    @keyframes arrowFadeIn {
        0% {
            opacity: 0;
            width: 0;
        }
        100% {
            opacity: 1;
            width: 35px;
        }
    }
    @keyframes arrowFadeOut {
        0% {
            opacity: 1;
            width: 35px;
        }
        100% {
            opacity: 0;
            width: 0;
        }
    }
    @keyframes arrowSlideIn {
        0% {
            right: 200px;
        }
        100% {
            right: 0;
        }
    }
    @keyframes arrowSlideOut {
        0% {
            right: 0;
        }
        100% {
            right: 200px;
        }
    }

}

.error, .success {
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: 0;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    background: white;
}

.error {
    -webkit-box-shadow: 0px 0px 0px 1px red;
    -moz-box-shadow: 0px 0px 0px 1px red;
    box-shadow: 0px 0px 0px 1px red;
    color: red;
}

.success {
    -webkit-box-shadow: 0px 0px 0px 1px black;
    -moz-box-shadow: 0px 0px 0px 1px black;
    box-shadow: 0px 0px 0px 1px black;
    color: black;
}

.gedragscode {
    padding: 10px;
    //margin: 10px;
    color: red;
    background: white;
    border-left: 1px solid red;
    border-right: 1px solid red;
    box-sizing: border-box;
    //margin-bottom: 20px;
}


.footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px !important;
    border: 1px solid black;

    .socials {
        :first-child {
            margin-right: 10px;
        }

        display: flex;
        justify-content: space-between;
    }
}

// archive
.archiveContainer {
        border: 1px solid black;
    .archiveGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;


        > div {
            //border: 1px solid black;
        }

        > div:first-child {
            grid-area: 1 / 1 / 6 / 2;
            padding: 10px;
            .newsletterInput {
                margin-top: 20px;
                height: unset;
                box-sizing: border-box;
                margin-bottom: 20px;
                padding-right: 10px;
                form {
                    height: 30px;
                    input {
                        background: transparent;
                    }
                    label {
                        z-index: -100;
                        user-select: none; /* Standard */
                    }


                }
            }
            >.year {
                width: min-content;
                padding-bottom: 10px;
                .activeyear {
                    background-color: red;
                    color: white;
                }
            }
        }

        > div:last-child {
            grid-area: 1 / 2 / 6 / 6;
            padding: 10px;
            padding-left: 0;


            .archive-filters {
                justify-content: space-between;
                display: flex;
                padding-top: 15px;
                h1 {
                    font-size: 2.5rem;
                }
            }


            section {
                margin-top: 10px;
            }

            .archive-letter {
                border-left: 1px solid black;
                padding-left: 10px;
                margin-bottom: 20px;
                position: relative;
                >div:first-child {
                    position: absolute;
                    right: 100%;
                    transform: translateX(-15px);
                    font-size: 1.4rem;
                }

                >div:nth-child(2) * {
                    vertical-align: text-top;
                }

                >div:nth-child(2) > p {
                    text-align: unset;
                    word-break: break-word;
                    white-space: normal;
                    overflow-wrap: break-word;
                }
                >div:nth-child(2) > p > span {
                    font-size: 1.4rem;
                    white-space: nowrap;
                }
                a {
                    margin-top: 2px;
                    vertical-align: text-top;
                    //margin-bottom: 10px;
                    display: inline;
                    text-decoration: none;
                    color: black;
                    cursor: pointer;
                    position: relative;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    word-break: break-all;
                    white-space: normal;
                    position: relative;
                }

                a>img {
                    position: absolute;
                    z-index: 1000;
                    left: 0;
                    top: 18px;
                    height: 0;
                    transition: 0.8s;
                }

                a:hover {
                    background: red;
                    color: white!important;
                    text-decoration: none !important;
                    transition: 0.1s;
                    >img {
                        height: auto;
                        transition: 0.8s;
                    };
                }
                //>div:nth-child(2) > div {
                //    margin-bottom: 10px;
                //    display: inline-block;
                //    p {
                //        overflow-wrap: break-word;
                //    }
                //}
            }
        }
    }
}
.nomobile {
    display: none;
}


[x-cloak] {
    display: none !important;
}

.border-top {
    border-top: 1px solid black !important;
}

.mobileBottom {
    border-bottom: 1px solid black;
}

#programme:last-child {
    border-bottom: 1px solid black;
}

.right .eventCategory {
    overflow: visible !important;
}
@media only screen and (min-width: 350px) {
    .mediaContainer .residence-videos {
        height: 200px;
    }
}

@media only screen and (min-width: 400px) {
    .mediaContainer .residence-videos {
        height: 250px;
    }
}

@media only screen and (min-width: 460px) {
    .navContent > div:first-child {
        height: 100px;
    }

    .carousel, .sidecarousel {
        .carousel-image {
            min-width: unset;
        }
    }
}

@media only screen and (min-width: 650px) and (max-width: 850px) {
    .residenceContent {
        display: flex;
        flex-direction: row-reverse;
        border-right: 1px solid black;

        > * {
            flex-basis: 50%;
        }

        .sidecarousel {
            border-top: 1px solid black;
            border-left: none;
            border-right: 0;
            //border-bottom: 1px solid black;

            .carousel-image {
                scroll-snap-align: start;
                min-width: 100%;
            }

        }
    }

    .residenceContent .scrollContainer {
        height: auto;
        max-height: 600px;
    }

    .residenceContainer {
        //border-right: none;
        border-bottom: none;
        padding: 10px;
        text-align: justify;
    }

}

.mediaContainer {
    >div {
        margin-top: 10px;
    }
}

.gallery-item-card {
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid black;


    h1 {
        margin-bottom: 10px;
        display: -webkit-box;
        line-clamp: unset;
        -webkit-line-clamp: unset;
        -webkit-box-orient: vertical;
        overflow-y: auto;
    }
}

.admin-event {
    box-sizing: border-box;

    > div {
        box-sizing: border-box;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    section {
        box-sizing: border-box;

        border-bottom: 1px solid black;
        border-top: none;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

}

.admin-event-imageContainer {
    position: relative;
}

.admin-event-thumb {
    background: white;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.delete-button {
    margin-top: 10px;

    position: relative;
    border: 1px solid black;
    width: 1.9rem;
    height: 1.9rem;
    span {
        font-size: 1.4rem ;
        padding-top:0.2rem;
    }
}

.admin-side-nav > div:last-child {
    border-bottom: 1px solid black;
}
.admin-form {
    width: 100%;
    * {
        box-sizing: border-box;
    }

    input, select, button {
        border-radius: 0;
        border: 1px solid black;
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 1rem;
        padding: 10px;
    }

    input[type="date"] {
        margin-bottom: 0;
    }

    button {
        height: min-content;
    }

    .datepickerbutton {
        margin-bottom: 0;
        margin-top: auto;
    }

    #date {
        padding-right: 10px;
    }


    input:focus-visible {
        border-color: red;
        outline: none;
    }

    input[type="date"]::-webkit-datetime-edit-month-field:focus,
    input[type="date"]::-webkit-datetime-edit-day-field:focus,
    input[type="date"]::-webkit-datetime-edit-year-field:focus,
    //input[type="time"]::-webkit-time-edit-hours-field:focus,
    { color: white; background-color: red }

    input[type="text"] {
        width: 100%;
    }


    p + input[type='button'] {
        background-color: white;
        width: unset;
        padding: 0 5px;
        margin: 0;
        color: red;
        border-color: red;
    }

    textarea {
        border-radius: 0;
        border: 1px solid black;
        resize: none;
        width: 100%;
        overflow:auto;
        padding: 10px;
        margin-top: 5px;
    }

    .dynamic-field {
        width: 100%;
    }
}

.set-date_to {
    border-radius: 0;
    border: 1px solid black;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 0;
    margin-top: auto;
}

.datepicker-container {
    margin-top: 5px;
    margin-bottom: 15px;

    .to-icon {
        height: 100%;
        margin: auto;
        padding: 10px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    border: 1px solid black;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .toggle {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .toggle:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid black;

        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .toggle {
        background-color: red;
    }

    input:focus + .toggle {
        box-shadow: 0 0 1px red;
    }

    input:checked + .toggle:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

}

@media only screen and (min-width: 850px) {
    nav {
        grid-template-columns: 1fr 60vw 1fr !important;
    }

    .border-top {
        border-top: 1px solid black !important;
    }
    .artwork-side-nav, .admin-side-nav {
        grid-column: 3;
        display: grid;
        grid-auto-rows: 140px;

        .card {
            border-left: none;

        }
    }


    .artwork-grid {
        display: grid;
        grid-template-columns: 1fr 60vw 1fr;

        .gazette-items {
            border: 1px solid black;
            grid-area: 1 / 2 / span 1 / span 1;
            gap: 10px;

            .gazette-item {
                //flex: 0 1 calc(33% - 10px);
            }
        }

        .gallery-items {
            grid-area: 1 / 1 / span 1 / span 2;

            .gallery-item:last-of-type {
                .bigCarousel {
                    border-bottom: 1px solid black;
                }
            }
        }

    }


    // ADMIN SECTION

    .admin-event {
        grid-area: 1 / 1 / span 1 / span 2;
        display: grid;
        grid-template-columns: 1fr calc(60vw - 2px);

        > div {
            min-height: calc(100% - 62px);
            grid-area: 1 / 2 / span 1 / span 2;
            border-bottom: 1px solid black;

        }

        .event-item {
            display: grid;
            grid-template-columns: 1fr calc(60vw - 2px);
            grid-area: 1 / 2 / span 1 / span 1;

            section {
                grid-area: 1 / 2 / span 1 / span 1;
            }
        }

        .event-item:first-of-type {
            section {
                border-top: 1px solid black;
            }
        }
    }


    .gallery-item {
        display: grid;
        grid-template-columns: 1fr 60vw;

        section {
            grid-area: 1 / 2 / span 1 / span 1;
        }

        .gallery-item-card {
            border-right: none;
            border-top: none;
            height: min-content;
            min-height: 140px;
        }

    }

    .grid {
        display: grid;
        grid-template-rows: repeat(auto-fill, 140px);
        grid-auto-rows: 141px;
        grid-gap: 0;
        grid-template-columns: 1fr 60vw 1fr !important;

        .right {
            grid-column: 3;
            border-left: none;
            cursor: pointer;
            border-top: none;
            border-bottom: 1px solid black;
        }

        .left {
            grid-column: 1;
            grid-row: 1;
            border-right: none;
            //border-top: none;
            border-bottom: 1px solid black;
        }

        .additional {
            grid-row: 3 !important;
        }

        .section {
            grid-column: 2;
            grid-row: 1;
        }

        .residenceContent {
            border-bottom: 0;
        }

        .resSectionLast {
            border-bottom: 1px solid black;
            margin-bottom: 20px;
        }
    }
    .right {
        position: relative;
    }

    #programme:last-child {
        border-bottom: none;
    }
    .card-button {
        //display: -webkit-box !important; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        //display: -ms-flexbox !important; /* TWEENER - IE 10 */
        //display: -webkit-flex !important; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        //display: flex !important; /* NEW, Spec - Firefox, Chrome, Opera */
        //flex-direction: column;
    }

    //.titleBar {
    //    border-top: none;
    //    border-bottom: none;
    //}

    .carousel {
        .carousel-image {
            scroll-snap-align: start;
            min-width: 50%;
            //height: 100%;
            //width: auto;
        }
    }

    .bigCarousel {

        .scrollContainer {
            overflow: hidden;
            height: 500px;
            position: relative;

        }

        .carousel-image {
            min-width: 100%;
        }
    }


    .prevButton {
        left: 10px;
        border-left: 1px solid black;

        span {
            margin-left: -2px;
            margin-top: 4px;
        }
    }

    .nextButton {
        right: 10px;
        border-right: 1px solid black;

        span {
            margin-left: 0;
            margin-top: 4px;
        }
    }


    .eventContainer {
        margin-bottom: 20px !important;
        border-bottom: 1px solid black;
        min-height: calc(100% - 62px);

    }
    //.footer {
    //    grid-column: 2;
    //    display: flex;
    //    border: 1px solid black;
    //}

    #contactinformation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px !important;
        border-bottom: 1px solid black;

        > div {
            flex-basis: 50%;

            > h2 {
                padding-bottom: 10px;
            }

            > p {
                padding-bottom: 5px;
            }

        }
    }

    .nomobile {
        display: block;
    }

    .desktopBorder {
        border-top: 1px solid black !important;
    }

    .additionalBorder {
        border-bottom: 1px solid black;
    }

    .mobileBottom {
        border-bottom: none;
    }

    #noupcomingTitle {
        border-bottom: none;
    }

    .residenceTitle {
        border-top: 1px solid black;
    }

    .requestResidencyContainer {
        border-bottom: none;
    }

    .right h2 {
        animation: opacity1 0.6s;
    }

    .right h1 {
        overflow: hidden;
        transition: ease-in-out .2s;
    }

    .right .eventCategory {
        display: none;
    }

    .right:hover {
        transition: ease-in-out 0.1s;

        .titles {
            font-size: 2rem;
            transition: .2s;
        }
        h2 {
            font-size: 1rem;
            transition: .2s;
        }
    }

    .activelink {
        .titles {
            font-size: 2rem;
            transition: .2s;
        }
        h2 {
            font-size: 1rem;
            transition: .2s;
        }
    }

    .right::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background: -webkit-linear-gradient(bottom, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 50%, rgba(255, 0, 0, 0.4) 100%);
        background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.4));
        opacity: 0;
    }

    .right.activelink::before, .right:hover::before {
        opacity: 1;
        transition: 0.3s;
    }

    .right button:focus {
        transition: ease-in-out 0.1s;

        .titles {
            font-size: 2rem;
            transition: .2s;
        }
        h2 {
            font-size: 1rem;
            transition: .2s;
        }
    }

    @keyframes opacity0 {
        0% {
            opacity: 100%;
        }

        100% {
            opacity: 0;
        }

    }
    @keyframes opacity1 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 100%;
        }

    }
}

//
//.additional {
//    grid-row: 3;
//    border-top: none;
//}
@media only screen and (min-width: 1000px) and (max-width: 1350px) {
    .mediaContainer  {
        display: flex;
        flex-direction: row;
            gap: 10px;
        > div {
            margin-top: 10px;
            flex-basis: 50%;
        }
    }

    .residence-videos .video-container {
        block-size: calc(100% - 30px) !important;
    }
}

@media only screen and (min-width: 1350px) {
    *, :root {
        font-size: 12pt;

        h1 {
            font-size: 1.4rem;
            font-weight: 400;
        }

        p {
            font-size: 1rem;
        }

        h2 {
            font-size: 1.2rem;
        }
    }

    body {
        margin: 20px;
        //width: 70%;
    }

    nav {
        grid-template-columns: 1fr minmax(500px, 850px) 1fr !important;

        > div:nth-of-type(3) {
            position: relative;

            .profile-nav {
                position: absolute;
                left: 0;
                bottom: 0;
                margin: 10px;

                .profile-button {
                    display: flex;
                    flex-direction: row;

                    > p {

                    }
                ;
                }
            }
        }
    }

    .navContent > div:not(:first-child) {
        flex-wrap: nowrap;
        > div, a {
            flex: 30%;
            padding: 20px 0;
        }
    }

    .grid, .artwork-grid {
        grid-template-columns: 1fr minmax(500px, 850px) 1fr !important;
    }

    .gallery-item {
        grid-template-columns: 1fr minmax(500px, 850px);
    }

    .titleBar {

        padding-left: 10px;
    }

    .eventContainer {
        padding: 10px;
    }

    .gmap_canvas > .iframe-info {
        width: 250px;
        height: 80px;
    }
    .animate-flicker {
        span:first-of-type::before {
            left: -10px;
            width: 5.183px;
        }

        span:last-of-type::after {
            right: -10px;
            top: 0;
        }
    }

    .right, .left {
        padding: 15px 15px 0;
    }

    #newsletterCard {
        padding-bottom: 15px;
    }

    .additional {
        grid-row: 3;
        border-top: none;
    }

    .right .eventCategory {
        display: block;
    }

    .right:hover, .activelink {
        .eventCategory {
            width: max-content;
            font-size: 1rem;
        }
    }

    .right:hover {

        .titles {
            font-size: 2.5rem;
        }
    }

    .activelink {
        .titles {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1rem;
        }
    }

    .right button:focus {

        .titles {
            font-size: 2.5rem;
        }
    }

    .residenceContent {
        display: flex;
        flex-direction: row-reverse;
        border-right: 1px solid black;

        > * {
            flex-basis: 50%;
        }

        .sidecarousel {
            border-top: 1px solid black;
            border-left: none;
            border-right: 0;
            //border-bottom: 1px solid black;

            .carousel-image {
                scroll-snap-align: start;
                min-width: 100%;
            }

        }
    }

    .residenceContent .scrollContainer {
        height: auto;
        max-height: 600px;
    }

    .residenceContainer {
        //border-right: none;
        border-bottom: none;
        padding: 10px;
        text-align: justify;

    }

    // ADMIN SECTION

    .admin-event {
        display: grid;
        grid-template-columns: 1fr minmax(498px, 848px);

        > div {
            min-height: calc(100% - 62px);
            grid-area: 1 / 2 / span 1 / span 2;
        }

        .event-item {
            display: grid;
            grid-template-columns: 1fr minmax(498px, 848px);
            grid-area: 1 / 2 / span 1 / span 1;

            section {
                grid-area: 1 / 2 / span 1 / span 1;
            }
        }
    }


}

@media only screen and (max-width: 320px) {
    .artwork-grid {
        .gazette-items {
            border: 1px solid black;
            border-top: none;
            //display: flex;
            //flex-direction: column;
            //flex-wrap: wrap;
            gap: 5px;

            .gazette-item {
                //flex: 0 1 calc(100% - 5px);

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .eventContainer {
        min-height: 0 !important;
    }
}
